<div class="jumbotron">
  <h1>Register</h1>

  <% if (locals.message) { %>
    <p><%= message %></p>
  <% } %>

  <form class="form-horizontal" method="POST" action="/register">
    <fieldset>
      <div class="form-group">
        <label for="inputUsername" class="col-lg-5 control-label">Username</label>
        <div class="col-lg-2">
          <input type="text" name="username" id="inputUsername" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputProfilepic" class="col-lg-5 control-label">Profile Picture</label>
        <div class="col-lg-2">
          <input type="text" name="profilepic" id="inputProfilepic" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" name="email" class="col-lg-5 control-label">Email</label>
        <div class="col-lg-2">
          <input type="text" name="email" id="inputEmail" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-5 control-label">Password</label>
        <div class="col-lg-2">
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPasswordConfirmation" class="col-lg-5 control-label">Password Confirmation</label>
        <div class="col-lg-2">
          <input type="password" name="passwordConfirmation" id="inputPasswordConfirmation" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-4">
          <button class="btn btn-primary">Register</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
