


<%# <iframe width="700" height="900"
src="http://www.youtubestock.com/static/preview/stock-video-no-copyright-free-videos-motion-graphics-movies-background-animation-clips-download-100237.mp4">
</iframe

<video poster="http://www.youtubestock.com/static/preview/stock-video-no-copyright-free-videos-motion-graphics-movies-background-animation-clips-download-100237.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="http://www.youtubestock.com/static/preview/stock-video-no-copyright-free-videos-motion-graphics-movies-background-animation-clips-download-100237.webm" type="video/webm">
<source src="http://www.youtubestock.com/static/preview/stock-video-no-copyright-free-videos-motion-graphics-movies-background-animation-clips-download-100237.mp4" type="video/mp4">
</video>%>
<div class="Homecont">


<video poster="" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="https://cdn.dribbble.com/users/1664201/screenshots/3395326/divvy.gif" type="video/webm/gif">
<source src="https://cdn.dribbble.com/users/1664201/screenshots/3395326/divvy.gif">
</video>
</div>
