* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.row li {
    padding: 10px;
}

li div {
  padding: 25px;
  color: #9b9b9b;
  background: white;
}

.post-info {
  img {
    float: left;
    margin-right: 10px;
    radius: 25px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: #222;
  }

  p, a{
    color: #9b9b9b;
    font-size: 14px;
  }

  img{
    border-radius: 200px;
    border-style: solid;
    border-radius: 100px;
    border-radius: 25px;
    height: 80px;
  }

  ul {
    padding-top: 15px;
    clear: both;

    li {
      text-align: center;
      width: 33.33%;
      float: left;
    }
  }
}




img {
  border-style: solid;
  border-radius: 100px;
  border-radius: 25px;
  height: 80px;
}
