* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
   background: linear-gradient ( rgba(0,0,0,0.4), rgba(0,0,0,0.4) );
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.row li {
    padding: 10px;
}

li div {
  padding: 25px;
  color: #9b9b9b;
  background: white;
}

.post-info {
  img {
    float: left;
    margin-right: 10px;
    radius: 25px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: #222;
  }

  p, a{
    color: #9b9b9b;
    font-size: 14px;
  }

  img{
    border-radius: 200px;
    border-style: solid;
    border-radius: 100px;
    border-radius: 25px;
    height: 80px;
  }

  ul {
    padding-top: 15px;
    clear: both;

    li {
      text-align: center;
      width: 33.33%;
      float: left;
    }
  }
}

.isk{
  text-align: center;
  margin: auto;
}
.jumbotron {
text-align: center;
}

.modal-content{
  img {
    width: 80px;
    height: 80px;
  }
}

img {
  width: 80px;
  height: 80px;
}

// iframe {
//  position: absolute;
//  right: 0;
//  bottom: 0;
//  min-width: 100%;
//  min-height: 100%;
//  width: auto;
//  height: auto;
//  z-index: -100;
//  background-size: cover;
//  overflow: hidden;
//  }
.hass{
  background-color: white;
  width: 600px;
  text-align: center;
  margin: auto;
  
}
.san{
  color: #9b9b9b;
}



 video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('https://cdn.dribbble.com/users/1664201/screenshots/3395326/divvy.gif') no-repeat;

  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#logo{
  height: 50px;
  width: 50px;
  margin: -15px auto;
}
